/* inter-100 - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Inter';
    font-style: normal;
    font-weight: 100;
    src: url('../fonts/inter-v18-latin-100.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* inter-100italic - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Inter';
    font-style: italic;
    font-weight: 100;
    src: url('../fonts/inter-v18-latin-100italic.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* inter-200 - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Inter';
    font-style: normal;
    font-weight: 200;
    src: url('../fonts/inter-v18-latin-200.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* inter-200italic - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Inter';
    font-style: italic;
    font-weight: 200;
    src: url('../fonts/inter-v18-latin-200italic.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* inter-300 - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Inter';
    font-style: normal;
    font-weight: 300;
    src: url('../fonts/inter-v18-latin-300.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* inter-300italic - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Inter';
    font-style: italic;
    font-weight: 300;
    src: url('../fonts/inter-v18-latin-300italic.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* inter-regular - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/inter-v18-latin-regular.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* inter-italic - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Inter';
    font-style: italic;
    font-weight: 400;
    src: url('../fonts/inter-v18-latin-italic.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* inter-500 - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/inter-v18-latin-500.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* inter-500italic - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Inter';
    font-style: italic;
    font-weight: 500;
    src: url('../fonts/inter-v18-latin-500italic.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* inter-600 - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    src: url('../fonts/inter-v18-latin-600.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* inter-600italic - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Inter';
    font-style: italic;
    font-weight: 600;
    src: url('../fonts/inter-v18-latin-600italic.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* inter-700 - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/inter-v18-latin-700.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* inter-700italic - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Inter';
    font-style: italic;
    font-weight: 700;
    src: url('../fonts/inter-v18-latin-700italic.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* inter-800 - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    src: url('../fonts/inter-v18-latin-800.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* inter-800italic - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Inter';
    font-style: italic;
    font-weight: 800;
    src: url('../fonts/inter-v18-latin-800italic.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* inter-900 - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Inter';
    font-style: normal;
    font-weight: 900;
    src: url('../fonts/inter-v18-latin-900.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* inter-900italic - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Inter';
    font-style: italic;
    font-weight: 900;
    src: url('../fonts/inter-v18-latin-900italic.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}


/* /////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */


:root {
    --main-gray: #C3C3C3;
    --main-blue: #5AC4F7;
    --main-litlewhite: #DDDFE0;
    --main-DarkSlateGray: #1B2E31;
    --main-green: #84B271;
    --main-pure: #A5479A;
    --main-white: white;
    --main-black: black;
}

html {
    scroll-behavior: smooth;
}

ul {
    list-style-type: none;
    padding: 0px;
}

h1,
h2,
h3,
p {
    margin-top: 0;
}

* {
    box-sizing: border-box;
    margin: 0;
}

.container {
    width: 100%;
    max-width: 19px;
    margin: 0 auto;
    padding: 0px 16px;
}



body {
    font-family: 'inter', sans-serif;
}



/* HEADER SECTION */

.header-section {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 1920px;
    height: 127px;

}

.header-section__logo {
    padding: 35px 0px 0px 310px;
    max-width: 960px;
    width: 100%;
}

.header-section__contaienr {
    padding: 48px 311px 0px 306px;
    justify-content: space-between;
    max-width: 960px;
    width: 100%;
    display: flex;
}

.header-section__nav {
    max-width: 960px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-section__list {
    font-weight: 600;
    padding: 0px 17px 0px 0px;
    gap: 20px;
    font-size: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}



/* HERO SECTION ----------------------------------------------- */

.hero-section {

    width: 1920px;
    height: 621px;
    background-image: url('../img/backgroundHeader.jpg');

    text-align: center;
    color: var(--main-white);
    font-size: 54px;
    padding: 132px 0px 0px 0px;
}

.hero-section__button {
    font-size: 37px;
    color: var(--main-white);
    width: 408.25px;
    height: 91.11px;
    margin-top: 67px;
    border: none;
    border-radius: 20px;
    background-color: var(--main-green);
}


/* COMMODITY SECTION ------------------------------------------------*/

.commodity-section {
    padding: 97px 0px 0px 0px;
    font-size: 40px;
    color: var(--main-green);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 1920px;
    height: 790.51px;
}

.commodity-section p {
    font-size: 25px;
    font-weight: 400;
    color: var(--main-black);
}

.commodity-section h3 {
    font-size: 63px;
    color: var(--main-black);
}

.commodity-section span {
    font-weight: 700;
}

.commodity-section__title {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 96px 4px 50px 0px;

}

.commodity-section__title--last {
    padding: 30px 0px 0px 0px;
}

.commodity-section__list {
    justify-content: center;
    gap: 20px;
    display: flex;
    width: 1300px;
    height: 221px;
}

.commodity-section__list--item {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 420px;
    height: 221px;
    border-radius: 20px;
    background-color: var(--main-green);
}

.commodity-section__list--item p {
    font-size: 20px;
    font-weight: bold;
    color: var(--main-black);
}

/* EFIDES SECTION ---------------------------------------------------------- */

.efides-section {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 105px 0px 0px 0px;
    font-size: 51px;
    color: var(--main-green);
    width: 1920px;
    height: 691px;
    background-color: var(--main-DarkSlateGray);
}

.efides-section__title {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 26px;
    font-weight: lighter;
    color: var(--main-white);
    width: 1180px;
    height: 120px;
    padding: 98px 0px 0px 4px;
}

.efides-section__title span {
    font-weight: 600;
}

.efides-section__title--bold {
    padding: 135px 0px 0px 0px;
    font-size: 35px;
    font-style: italic;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.efides-section__title--span {

    color: var(--main-green);
    width: 1180px;
    height: 126px;
}


.efides-section__decore {
    left: 0px;
    top: 0px;
    position: absolute;
    width: 1399px;
    height: 1231px;
}

/* SCROLL BUTTON UP========================== */

.scrollButton {
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    right: 20px;
    bottom: 20px;
    border: 2px solid var(--main-blue);
    border-radius: 46px;
    background-color: transparent;
    width: 90px;
    height: 121px;
    animation: move 2s infinite;
    box-shadow: 0px 0px 14px #00c7ff;
    z-index: 10;

}

@keyframes move {

    1%,
    100% {
        transform: translateY(0px);
    }

    50% {
        transform: translateY(3px);
    }

}


.scrollButtonShow {
    display: flex;
}



/* TRADE SECTION ----------------------------------------*/

.trade-section {
    padding: 98px 0px 0px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--main-green);
    font-size: 60px;
    font-weight: bold;
    width: 1920px;
    height: 540px;
    background-color: var(--main-litlewhite);
}

.trade-section h2 {
    color: var(--main-black);
    font-size: 60px;
    font-weight: 300;
}

.trade-section__button {
    z-index: 1;
    color: var(--main-white);
    font-size: 37px;
    margin-top: 98px;
    border: none;
    border-radius: 20px;
    background-color: var(--main-pure);
    width: 408.25px;
    height: 91.11px;
}

/* SOLUTION SECTION ======--------------------------------------- */

.solution-section {
    padding: 97px 0px 0px 0px;
    align-items: center;
    font-size: 20px;
    font-weight: 300;
    display: flex;
    flex-direction: column;
    width: 1920px;
    height: 682px;
}

.solution-section h2 {
    font-size: 60px;
    font-weight: 800;
}

.solution-section h3 {
    font-size: 40px;
    font-weight: 800;
}

.solution-section__arrow {
    padding: 18px 6px 0px 0px;
    justify-content: space-between;
    width: 902px;
    display: flex;
    flex-direction: row;
}

.solution-section__image {
    padding: 6px 13px 0px 0px;
    width: 983px;
    justify-content: space-between;
    display: flex;
    flex-direction: row;
}

.solution-section__image--insuranse {
    padding: 10px 0px 0px 0px;
}

.solution-section__title {
    padding: 7px 0px 0px 0px;
    width: 1220px;
    height: 132px;
    justify-content: space-between;
    display: flex;
    flex-direction: row;
}

.solution-section__title span {
    font-weight: 600;
}

.solution-section__title--card {
    gap: 13px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 336px;
    height: 132px;
}


/* AI SECTION ------------------------------------------------------------- */


.ai-section {
    position: relative;
    text-align: center;
    padding: 149px 0px 0px 0px;
    align-items: center;
    display: flex;
    flex-direction: column;
    font-weight: 300;
    font-size: 25px;
    color: var(--main-litlewhite);
    background-color: var(--main-DarkSlateGray);
    width: 1920px;
    height: 719px;
}

.ai-section span {
    font-weight: 600;
}


/* тут шрифт в макете буква f не такая как в italik inter */
.ai-section__green--title {
    padding: 36px 4px 0px 0px;
    font-weight: 400;
    font-style: italic;
    font-size: 35px;
    color: var(--main-green);
}

.ai-section__green--italik {
    padding: 0px 0px 0px 10px;
    font-weight: bold;
    font-style: italic;
    font-size: 35px;
    color: var(--main-green);
}

.ai-section__button {
    border: none;
    margin-top: 117px;
    border-radius: 20px;
    font-size: 35px;
    font-weight: 600;
    width: 531px;
    height: 91px;
    background-color: var(--main-blue);
    z-index: 2;
}

.ai-section__decore {
    position: absolute;
    top: 0px;
    right: 0px;
    width: 1399px;
    height: 719px;
}



/* JOIN SECTION ----------------------------------======================= */

.join-section {
    width: 1920px;
    height: 400.46px;
    background-color: var(--main-green);
    text-align: center;
    color: var(--main-white);
    font-size: 53px;
    padding: 98px 21px 0px 0px;

}

.join-section__first {
    padding: 0px 0px 0px 0px;
}

.join-section__second {
    padding: 0px 0px 0px 20px;
}

/* PARTNERS SECTION ===================================================== */


.partners-section {
    width: 1920px;
    height: 900px;
    background-color: var(--main-white);
    color: var(--main-black);
    display: flex;
    flex-direction: column;
    align-items: center;
}



.partners-section h2 {
    font-size: 60px;
    padding: 98px 0px 0px 0px;
}



.partners-section__button1 {
    margin-top: 98px;
    border-radius: 45px;
    border: 3px solid var(--main-pure);
    width: 120px;
    height: 90px;
    background-color: transparent;
}

.partners-section__button2 {
    margin-top: 96px;
    border-radius: 45px;
    border: 3px solid var(--main-pure);
    width: 120px;
    height: 90px;
    transform: rotate(180deg);
    background-color: transparent;
}

.partners-section__title {
    display: flex;
    gap: 150px;
}

.partners-section__list {
    padding: 78px 0px 0px 0px;
    display: flex
}

.partners-section__card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 420px;
    height: 350px;
    background-color: var(--main-litlewhite);
    border-radius: 20px;
    border: none;
    padding: 45px 42px 41px 42px
}

.partners-section__card img {
    margin: 0px 0px 0px 60px;
    width: 180px;
    height: 230px;
}


.partners-section__card h3 {
    font-style: normal;
    font-size: 20px;
    font-weight: 400;
}

.partners-section__card p {
    font-size: 20px;
    font-weight: 200;
    font-style: italic;
}

.partners-section__card span {
    font-weight: bold;
}

.partners-section__image--list {
    margin: 0px 19px 0px 0px;
    align-items: center;
    justify-content: space-between;
    display: flex;
    width: 1320px;
    padding: 100px 0px 0px 0px;
}

.partners-section__image {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
    height: 100px;
}



.partners-section__image2 {
    margin: 0px 20px 6px 0px;
}

.partners-section__image3 {
    margin: 4px 19px 0px 0px;
}

.partners-section__image4 {
    margin: 4px 12px 0px 0px;
}

.partners-section__image5 {
    margin: 4px 1px 0px 0px;
}


.partners-section__overflow {
    overflow: hidden;
}

/* STILL SECTION ============================================----------------------------- */

.still-section {
    width: 1920px;
    height: 268px;
    background-color: var(--main-litlewhite);
    display: flex;
    gap: 53px;
    align-items: center;
    justify-content: center;
}

.still-section h2 {
    font-size: 60px;
    font-weight: 300;
}

.still-section__button {
    border-radius: 20px;
    border: none;
    font-size: 38px;
    font-weight: 400;
    width: 408.25px;
    height: 91.11px;
    background-color: var(--main-pure);
    color: var(--main-white);
}

/* CURVE SECTION ==================================-------------------------------- */

.curve-section {
    text-align: center;
    width: 1920px;
    height: 781px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 97px 0px 0px 0px;
}

.curve-section .swiper-slide {
    height: 300px;
}


.curve-section h2 {
    font-size: 60px;
    color: var(--main-green);
}

.curve-section__title {
    padding: 96px 0px 0px 0px;
    font-size: 25px;
    font-weight: 400;
}

.curve-section__title-container {
    display: flex;
    flex-direction: row;
    align-items: end;
    gap: 80px;
}

.curve-section__button1 {
    border-radius: 45px;
    border: 3px solid var(--main-pure);
    width: 120px;
    height: 90px;
    background-color: transparent;
}

.curve-section__button2 {
    border-radius: 45px;
    border: 3px solid var(--main-pure);
    width: 120px;
    height: 90px;
    transform: rotate(180deg);
    background-color: transparent;
}

.curve-section__title span {
    font-weight: bold;

}

.curve-section__list {
    margin-top: 80px;
    display: flex;

    width: 1300px;
    height: 206px;
}

.curve-section__list li {

    width: 420px;
    margin-right: 20px;
}


.curve-section__card {
    font-size: 20px;
    text-align: left;
    padding: 43px 37px 0px 37px;
    border: none;
    border-radius: 20px;
    width: 420px;
    height: 206px;
    background-color: var(--main-litlewhite);

}


.curve-section__arrow {
    margin-top: 20px;
    display: flex;
    width: 1300px;
    height: 24px;
}

.curve-section__arrow--button1 {
    padding: 20px 0px 0px 290px;
    font-size: 20px;
    font-weight: 800;
    height: 24px;
}

.curve-section__arrow--button2 {
    padding: 0px 0px 0px 290px;
    font-size: 20px;
    font-weight: 800;
    width: 34%;
    height: 24px;
}

.curve-section__arrow--button3 {
    padding: 0px 0px 0px 302px;
    font-size: 20px;
    font-weight: 800;
    width: 34%;
    height: 24px;
}

/* FOOTER SECTION  =============================--------------------------------- */

.footer-section {
    width: 1920PX;
    height: 661.21px;
    background-image: url(../img/footer-bgc.jpg);

}

.footer-section span {
    color: var(--main-green);
    font-size: 40px;
    font-weight: bold;
}

.footer-section h2 {
    color: var(--main-white);
    font-size: 40px;
    font-weight: 300;
}


.footer-section a {
    font-size: 20px;
    color: var(--main-white);
}

.footer-section__eclipse {
    padding: 81px 0px 0px 0px;

    background-color: rgb(27 46 49 / 80%);
    width: 1920px;
    height: 661.21px;

    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 128px;
}

.footer-section__info {
    display: flex;
    flex-direction: column;
}

.footer-section__address {
    margin-bottom: 30px;
    display: flex;
    flex-direction: row;
    gap: 80px;
}

.footer-section__address--item {
    font-size: 21px;
    display: flex;
    flex-direction: column;
}

.footer-section__address--item p {
    font-size: 24px;
    font-weight: 800;
    color: var(--main-white);
    margin-bottom: 30px;
}

.footer-section__button {
    margin-top: 40px;
    width: 420px;
    height: 91px;
    background-color: var(--main-pure);
    border: none;
    border-radius: 20px;
    font-size: 37px;
    font-weight: 400;
    color: var(--main-white);
}


/* MODAL SECTION */

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 3;
}

.backdrop-hidden {
    display: none;
}

.modal {
    border-radius: 26px;
    display: flex;
    flex-direction: row;
    width: 1000px;
    height: 600px;
    background-color: #fff;
}

.modal-padding {
    font-size: 16px;
    padding: 0px 0px 0px 16px;
}

.modal input {
    width: 330px;
    height: 40px;
    border-radius: 8px;
    border: 2px solid var(--main-gray);
}

.modal-title {
    border-radius: 24px 0px 0px 24px;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    font-size: 36px;
    font-weight: bold;
    padding: 0px 0px 0px 75px;
    color: var(--main-white);
    width: 500px;
    height: 600px;
    background-color: var(--main-green);
}

.modal-title__logo {
    width: 140px;
    height: 40px;
    margin: 0px 0px 28px 0px;
}

.modal-form {
    align-items: center;
    justify-content: center;
    gap: 8px;
    display: flex;
    flex-direction: column;
    padding: 20px 20px 20px 20px;
    width: 500px;
    height: 600px;
}

.modal-form__close {
    height: 25px;
    padding: 0px 0px 5px 300px;
}

.modal-form__name--container {}

.modal-form__name--container input {
    width: 162px;
    height: 40px;
    border-radius: 8px;
    border: 2px solid var(--main-gray);
}

.modal-form select {
    width: 330px;
    height: 40px;
    border-radius: 8px;
    border: 2px solid var(--main-gray);
}

.modal-form textarea {
    resize: none;
    width: 330px;
    height: 80px;
    border-radius: 8px;
    border: 2px solid var(--main-gray);
}

.modal-textarea {
    padding: 12px 0px 0px 22px;
}

.modal-form__button {
    margin-top: 16px;
    width: 330px;
    height: 52px;
    background-color: var(--main-green);
    border-radius: 12px;
    font-size: 22px;
    font-weight: 600;
    color: var(--main-white);
}




/* SWIPER  ====================== */



.swiper {
    width: 1300px;
}

.swiper-slide {
    margin: 0px;
}

.swiperCurva {
    width: 1300px;
    overflow: hidden;
}

/* FORM MESSAGE FIRST ====================================== */

.form-message__container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 3;
}

.form-message {
    color: var(--main-white);
    width: 1000px;
    height: 600px;
    background-color: var(--main-green);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form-message h2 {
    padding: 28px 0px 28px 0px;
    font-style: italic;
    font-weight: 700;
    text-align: center;
    font-size: 45px;
}


/* FORM MESSAGE CONTAINER SECOND */

.form-message__containerSecond {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 3;
}

.form-messageSecond {
    border-radius: 24px;
    color: var(--main-white);
    width: 1000px;
    height: 600px;
    background-color: var(--main-green);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form-messageSecond h2 {
    padding: 28px 0px 28px 0px;
    font-style: italic;
    font-weight: 700;
    text-align: center;
    font-size: 45px;
}

/* SCROLL BUTTON UP  ==================================  */
.con {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
}

.buka {
    width: 100px;
    height: 100px;
    background-color: aqua;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: slide-in 2s infinite;

}

@keyframes slide-in {

    0%,
    100% {
        transform: translateY(0%);
    }

    50% {
        transform: translateY(-1px);
    }

}